<footer class="s-footer">
	<div class="container">
		<div class="b-info">
            {% include 'components/widgets/Copyright.twig' with c.Copyright %}
            {% include 'components/widgets/SocialNetworks.twig' with c.SocialNetworks %}
		</div>
	</div>
</footer>