<footer>
	<div class="row">
		<div class="social-col">
			<ul class="social-list">
				<li><a class="icon-facebook" href="https://www.facebook.com/transparencysk/" target="_blank"><span class="visually-hidden">facebook</span></a></li>
				<li><a class="icon-linkedin" href="https://www.linkedin.com/company/transparency-international-slovakia" target="_blank"><span class="visually-hidden">twitter</span></a></li>
				<li><a class="icon-envelope" href="mailto:info@odpovedztezuzane.sk"><span class="visually-hidden">email</span></a></li>
			</ul>
		</div>
		<div class="contact-col">
			<p>{% include 'components/widgets/Copyright.twig' with c.Copyright %}</p>
		</div>
		<div class="credits-col">
			<ul>
				<li><a href="http://bratia.sk/" target="_blank">bratia.sk</a></li>
				<li>Samuel Snopko</li>
				<li><a href="http://www.studioecht.com/sk/" target="_blank" rel="nofollow">studio echt</a></li>
				<li><a href="http://ondrek.com/" target="_blank" rel="nofollow">Samuel Ondrek</a></li>
				<li>Martin Kuštek</li>
			</ul>
		</div>
	</div>
</footer>
