<header>
	<div class="topbar">
		<a href="#" class="menu-toggle js-open-menu">MENU</a>
		<nav class="menu-main">
			<a href="#" class="close-menu js-close-menu">CLOSE</a>
            {% include 'components/widgets/Menu.twig' with c.Menu %}
		</nav>
	</div>
</header>