<header>
	<div class="topbar">
		<div class="logo">
			<a target="_blank" href="http://transparency.sk">
				<img src="/static/assets/logo-tis.png" alt="Logo Transparency International Slovakia">
			</a>
		</div>
		<div class="actions">
			<a href="#" class="menu-toggle js-open-menu">MENU</a>
		</div>
		<div class="nav-wrapper">
			<a href="#" class="close-menu js-close-menu">CLOSE</a>
			<nav class="menu-main">
                {% include 'components/widgets/Menu.twig' with c.Menu %}
			</nav>
			<ul class="lang-switch">
				{#<li><a class="active" href="#"><span>sk</span></a></li>#}
				{#<li><a href="#"><span>en</span></a></li>#}
			</ul>
		</div>
	</div>
</header>