<header class="hero-area">
	<div class="topbar">
		<a href="#" class="menu-toggle js-open-menu">MENU</a>
		<nav class="menu-main">
			<a href="#" class="close-menu js-close-menu">CLOSE</a>
            {% include 'components/widgets/Menu.twig' with c.Menu %}
		</nav>
	</div>
	{#<div class="hero-content">#}
		{#<div class="content-column">#}
			{#<h1>Podporujem Zuzanu</h1>#}
			{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nam reiciendis eos facere suscipit numquam laboriosam voluptates, cumque dolorem!</p>#}
			{#<a class="button" href="#">ACTION</a>#}
		{#</div>#}
	{#</div>#}
</header>