<div class="prose">
    <div class="text-column">
        <h2>{{ c.About.Title }}</h2>
        {{ c.About.Content|shortcodes }}
    </div>
    <ul class="points-list">
        <li>
            <h3>Aké boli sľuby?</h3>
            <ul class="check-list">
                <li>Vyber slubov?</li>
                <li>Lorem ipsum dolor sit amet ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor</li>
                <li>...</li>
            </ul>
            <a class="button" href="http://www.pluska.sk/spravy/z-domova/slovensko-bude-predsedat-rade-eu-opasok-chce-poriadne-utiahnut.html">Vsetky sluby</a>
        </li>
        <li>
            <h3>Čo sa stalo Zuzane </h3>
            <p>Vsetko podrobne popisuje ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores aliquam obcaecati sint ratione unde, ipsa, dolorem iste perspiciatis, sed facere tenetur natus.</p>
            <a class="button" href="http://transparency.blog.sme.sk/c/439404/ako-som-kvoli-pochybnym-zakazkam-odisla-z-ministerstva-zahranicnych-veci.htm">Cely pribeh</a>
        </li>
    </ul>
    <div class="text-column">
        <h3>Aka bola reakcia?</h3>
        <p>Pozrite si reakciu ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ad, doloribus soluta magni veniam, explicabo voluptatem eligendi, ratione beatae totam porro. Veritatis vel cupiditate quia, voluptatibus beatae. Repellendus, repellat aspernatur!</p>
        <a class="video-preview" href="https://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity style="background-image: url('https://placehold.it/900x600/39A1CF/FFFFFF/&text=Video+Preview');">
            <span class="visually-hidden">Minstrova reakcia</span>
        </a>
    </div>
</div>