<div class="panel gray">
    <div class="prose">
        <div class="text-column">
            <h2>{{ c.Goals.Title }}</h2>
            <ol class="next-list">
                {% for Goal in c.Goals.Goals %}
                    <li>
                        <p><strong>{{ Goal.Title }}</strong></p>
                        <div>
                            {{ Goal.Content|shortcodes }}
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>