<div class="panel gray">
    <div class="prose">
        <div class="text-column">
            <h2>{{ c.Questions.Title }}</h2>
            <div class="lead">
                {{ c.Questions.Content|shortcodes }}
            </div>
        </div>
        <ul class="questions-list">

            {% for Question in c.Questions.Questions %}
                <li>
                    <p><strong>{{ Question.Title }}</strong></p>
                    <div>
                        {{ Question.Content|shortcodes }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>