<ul class="nav navbar-nav navbar-right">
    {% for Item in Items %}
        <li{% if Item.LinkingMode == 'current' %} class="active"{% endif %}>
            <a href="{{ Item.Link }}" title="{{ Item.MenuTitle }}"><span>{{ Item.MenuTitle }}</span></a>
        </li>
    {% endfor %}
</ul>