<ul class="nav navbar-nav navbar-right">
    {% for Item in Items %}
        <li{% if Item.IsActive %} class="active"{% endif %}>
            <a href="{{ Item.Link }}" title="{{ Item.Title }}"><span>{{ Item.Title }}</span></a>
        </li>
    {% endfor %}
</ul>