<title>{{ Title }}</title>

<meta property="og:url" content="http://odpovedztezuzane.sk" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ak si myslíte, že minister by mal odpovedať Zuzane na otázky, pridajte sa k tejto výzve!" />
<meta property="og:description" content="Vyzývame ministra: Ak skutočne nemá čo skrývať, aby si splnil svoju morálnu povinnosť a odpovedal konečne na Zuzanine otázky. Žiadame jednoznačné, presné a verejné odpovede." />
<meta property="og:image" content="http://odpovedztezuzane.sk/fb-share.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="http://odpovedztezuzane.sk" />
<meta name="twitter:title" content="Ak si myslíte, že minister by mal odpovedať Zuzane na otázky, pridajte sa k tejto výzve!" />
<meta name="twitter:description" content="Vyzývame ministra: Ak skutočne nemá čo skrývať, aby si splnil svoju morálnu povinnosť a odpovedal konečne na Zuzanine otázky. Žiadame jednoznačné, presné a verejné odpovede." />
<meta name="twitter:image" content="http://odpovedztezuzane.sk/fb-share.png" />
