<title>{{ Title }}</title>

<meta property="og:url"           content="{{ Link }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ Title }}" />
<meta property="og:description"   content="{{ Description }}" />
{#<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />#}