<title>{{ Title }}</title>

<meta property="og:url" content="http://odpovedztezuzane.sk" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ak si myslíte, že minister by mal odpovedať Zuzane na otázky, pridajte sa k tejto výzve!" />
<meta property="og:description" content="Vyzývame ministra: Ak skutočne nemá čo skrývať, aby si splnil svoju morálnu povinnosť a odpovedal konečne na Zuzanine otázky. Žiadame jednoznačné, presné a verejné odpovede." />
<meta property="og:image" content="http://odpovedztezuzane.sk/static/assets/fb-share.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="http://odpovedztezuzane.sk" />
<meta name="twitter:title" content="Ak si myslíte, že minister by mal odpovedať Zuzane na otázky, pridajte sa k tejto výzve!" />
<meta name="twitter:description" content="Vyzývame ministra: Ak skutočne nemá čo skrývať, aby si splnil svoju morálnu povinnosť a odpovedal konečne na Zuzanine otázky. Žiadame jednoznačné, presné a verejné odpovede." />
<meta name="twitter:image" content="http://odpovedztezuzane.sk/static/assets/fb-share.png" />

<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="/static/assets/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/static/assets/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="manifest" href="/static/assets/favicons/manifest.json" />
<link rel="mask-icon" href="/static/assets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="theme-color" content="#ffffff" />
