<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500i,700" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/lity.min.css">
        <link rel="stylesheet" href="/static/css/styles.min.css">

        <meta name="turbolinks-cache-control" content="no-cache">
        {% include 'components/widgets/Meta.twig' with c.Meta %}
    </head>
    <body>
        {% include 'components/partials/Header.twig' %}

        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% include 'components/partials/Footer.twig' %}

        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type='text/javascript' src="/static/js/scripts.min.js"></script>
        <script>
            $(function(){
                $(".counter p").typed({
                    strings: ["Do konca vyzvy ostava uz len <strong>5 dni</strong>.", "<strong>5506 ludi</strong> uz podporilo Zuzanu.", "Pan minister odpovedal na <strong>0 otazok!</strong>"],
                    typeSpeed: 0,
                    loop: true,
                    backDelay: 2000,
                    backSpeed: -50
                });
            });
        </script>
    </body>
</html>