.button {
  border: calc-rem(2) solid currentColor;
  font-weight: 700;
  @include ps-transition(border-color, color, background-color);
  @include link-states{
    color: $white;
    background-color: $blue-shakespeare;
    border-color: $blue-shakespeare;
  }

  &.disabled {
    @include link-states{
      opacity: 1;
      background-color: white;
      color: $blue-shakespeare;
      border-color: white;
    }
  }

  &:focus{
    border-color: darken($blue-shakespeare, 20%);
  }
}
