h2 {
	margin-top: rem-calc(6);
}

.lead p {
	margin-bottom: calc-rem(24);
	font-size: calc-rem(20);
	line-height: 1.4;
	font-weight: 400;
}
@include breakpoint(medium) {
	h2 {
		margin-top: rem-calc(12);
	}
  p {
    font-size: calc-rem(18);
  }
  .lead p {
    margin-bottom: calc-rem(36);
  }
}
@include breakpoint(large) {
	h2 {
		margin-bottom: rem-calc(24);
	}
}
