footer {
	padding: calc-rem(12 0);
	background-color: $blue-burst;
	color: $white;

	.social-col,
  .contact-col,
	.credits-col {
		@include grid-column(12);
    	text-align: center;
	}
  .contact-col {
    padding-top: calc-rem(12);
    p{
      font-size: calc-rem(14);
    }
		@include breakpoint(medium){
			padding-top: calc-rem(24);
		}
  }

	a {
		color: currentColor;
	}
	.credits-col {
		padding-top: calc-rem(6);
		padding-bottom: calc-rem(12);
		font-size: calc-rem(14);

		ul {
			@include reset-ul();
			text-align: center;
		}

		li {
			padding: calc-rem(3 0);
			color: transparentize($white, 0.6);
		}

		a {
			display: block;
			font-size: calc-rem(14);

			@include link-states {
				color: $white;
				text-decoration: underline;
			}
		}
		@include breakpoint(medium){
			ul {
				@include reset-ul(true);
			}
			li {
				padding: calc-rem(4 12);
			}
		}
	}

	.social-list {
		@include reset-ul(true);

		a {
			display: block;
			padding: calc-rem(6);

			&:before {
				display: block;
				padding: calc-rem(8);
				border: calc-rem(2) solid $white;
				border-radius: 50%;
				font-size: calc-rem(12);
				line-height: 1;
        @include ps-transition(background-color, color);
			}

      @include link-states{
        &:before {
          background-color: $white;
          color: $blue-burst;
        }
      }
		}
	}
  @include breakpoint(medium){
    padding-top: calc-rem(24);
  }
}
