.hero-area {
	position: relative;
	height: 100%;

	background-image: url('../assets/hero-zuzana.jpg');
	background-repeat: no-repeat;
	background-position: 70% center;
	background-size: cover;

	h1 {
		font-weight: 300;
		font-size: calc-rem(42);
		@include breakpoint(small only) {
			font-size: calc-rem(30);
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	@include breakpoint(medium){
		height: 70%;
	}
}

.hero-content {
	@include grid-row;
	position: relative;
	top: 55%;
	text-align: center;
	color: white;
	transform: translateY(-50%);

	.content-column {
		@include grid-column(12);
	}
}

// ===================
// Topbar + Navigation
.topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(white, 0.9);
	text-align: right;
	box-shadow: calc-rem(0 0 14 0) rgba(0, 0, 0, 0.1);
	z-index: 10;
	top: 0;

	.logo {
		@include grid-column(6);
		padding-top: calc-rem(9);
		padding-bottom: calc-rem(9);
		text-align: left;

		img {
			height: calc-rem(30);
		}
	}

	.actions {
		@include grid-column(6, $gutter: 0);
	}

	.menu-toggle {
		display: inline-block;
		padding: rem-calc(12 20);
		color: $blue-burst;
		font-weight: 700;
	}
	@include breakpoint(large) {
		.logo {
			width: calc-rem(150);
		}

		.actions {
			display: none;
		}
	}
}

// Navigation
.nav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	padding: rem-calc(10 0);
	background-color: #fff;
	transform: translateY(-100%);
	@include ps-transition(transform);

	&.is-opened {
		transform: translateY(0%);
	}

	a {
		display: block;
		padding: rem-calc(0 14 10);
		font-weight: 700;
		color: $blue-burst;
		text-transform: uppercase;

		span {
			display: inline-block;
			padding: rem-calc(12 0 2);
			box-shadow: rem-calc(0 2 0 0) $transparent;
			@include ps-transition(box-shadow);
		}
		@include link-states {
			span {
				box-shadow: rem-calc(0 2 0 0) currentColor;
			}
		}

		&.active span {
			box-shadow: rem-calc(0 2 0 0) currentColor;
		}

		&.close-menu {
			position: absolute;
			top: 0;
			right: 0;
			padding: calc-rem(12);
		}
	}
	@include breakpoint(large) {
		position: static;
		top: auto;
		left: auto;
		height: auto;
		padding: 0;
		background-color: $transparent;
		transform: none;
		@include grid-column(12);
		width: calc(100% - 150px);

		a.close-menu {
			display: none;
		}
	}
}

.menu-main {
	ul {
		@include reset-ul;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
	}
	@include breakpoint(large) {
		position: static;
		top: auto;
		left: auto;
		height: auto;
		padding: 0;
		background-color: transparent;
		transform: none;
		@include grid-column(12);
		width: calc(100% - 150px);

		a.close-menu {
			display: none;
		}

		ul {
			position: static;
			top: auto;
			width: 100%;
			transform: none;
		}

		li {
			display: inline-block;
		}
	}
}

.lang-switch {
	@include reset-ul(true);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	@include breakpoint(large) {
		position: static;
		bottom: auto;
		left: auto;
		@include grid-column(1, $gutter:0);
		width: calc-rem(150);
		text-align: right;
	}
}
