.panel {
	&.gray {
		background-color: $white-cat;
	}
}

// Basic text column
.text-column {
	@include grid-column(12);
	padding-top: rem-calc(20);
	margin-bottom: rem-calc(30);
	text-align: center;
	&.no-margin {
		margin-bottom: 0 !important;
	}
	@include breakpoint(medium) {
		 @include grid-col-size(8);
		@include grid-col-pos(center);
	}
	@include breakpoint(large) {
		 @include grid-col-size(6);
	}
}
