// Text wrapper and text styles

.prose {
	@include grid-row;
	margin-top: rem-calc(20);
}

// Points list
.points-list {
	@include grid-column(12);
	@include grid-layout($n: 1, $selector: "li");
	margin: 0;
	list-style: none;
	text-align: center;

	img {
		max-width: rem-calc(150);
	}

	h2 {
		text-align: center;
		margin-bottom: rem-calc(24);
	}
	@include breakpoint(medium) {
		@include grid-col-size(10);
		@include grid-col-pos(center);
		 @include grid-layout($n: 2, $selector: "li");

		h2 {
			margin-bottom: rem-calc(36);
		}

		> li {
			margin-bottom: rem-calc(24);
		}
	}
	@include breakpoint(large) {
		@include grid-col-size(8);
	}
}

.check-list {
	max-width: rem-calc(500);
	padding: rem-calc(10 0 10 20);
	text-align: left;
}

// Video link
.video-preview {
	position: relative;
	display: block;
	max-width: calc-rem(250);
	height: calc-rem(150);
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: calc-rem(50);
		height: calc-rem(50);
		border: calc-rem(2) solid currentColor;
		color: $white;
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	&:after {
		width: 0;
		height: 0;
		border-radius: 0;
		border-style: solid;
		border-width: calc-rem(10px 0 10px 17.3px);
		border-color: transparent transparent transparent currentColor;
		transform: translateX(-40%) translateY(-50%);
	}
	@include breakpoint(medium){
		max-width: calc-rem(500);
		height: calc-rem(260);
	}
	@include breakpoint(large){
		max-width: calc-rem(500);
		height: calc-rem(280);
	}
}

.questions-list {
	@include reset-ul(true);
	li {
		@include grid-column(12);
		margin-bottom: calc-rem(12);
		p:first-child {
			margin-bottom: calc-rem(6);
		}
	}
	strong {
		font-size: calc-rem(20);
		font-style: italic;
		font-weight: 500;
	}

	@include breakpoint(medium){
		max-width: calc-rem(700);
		margin: 0 auto;
		li {
		@include grid-col-size(12);
		}
	}
}

.next-list {
	@include reset-ul();
	max-width: calc-rem(500);
	margin: calc-rem(12) auto;
	text-align: left;
	counter-reset: li-counter;
	li {
		position: relative;
		padding-left: calc-rem(30);
		&:before{
			counter-increment: li-counter;
			content: counter(li-counter) ".";
			position: absolute;
			top: 0;
			left: 0;
			padding: calc-rem(3);
			font-size: calc-rem(24);
			line-height: 1;
			font-weight: 700;
		}
	}
	p:first-child{
		margin-bottom: 0;
	}
	strong {
		font-size: calc-rem(20);
	}
}
