// Text wrapper and text styles

.prose {
	@include grid-row;
}

.spread-the-word {
	padding-top: 0;

	.prose {
		@include grid-layout($n: 2, $selector: ".share-option");
	}

	.share-option {
		padding: 15px;
		font-size: 14px;
		text-align: left;

		&:first-child {
			text-align: right;
		}

		.button {
			font-size: 24px;
		}
	}
}

// Points list
.about {
	ul, ol {
		@include reset-ul(false);

		margin-top: calc-rem(50);

		li {
			a {
				font-size: calc-rem(18);
				font-weight: 700;
				color: $blue-shakespeare;

				&:hover {
					color: darken($blue-shakespeare, 20%);
				}
			}

			@include breakpoint(medium){
				display: inline-block;

				&:before {
					content: '\2022';
					display: inline-block;
					padding-left: 10px;
					padding-right: 10px;
				}

				&:first-child {
					&:before {
						content: ''
					}
				}
			}
		}
	}
}

.questions-list {
	@include reset-ul(false);
	@include grid-column(12);
	@include grid-col-pos(center);

	padding-top: rem-calc(20);

	li {
		@include grid-layout($n: 1, $selector: "div");

		@include breakpoint(medium) {
			@include grid-layout($n: 2, $selector: "div");
		}

		.gray & {
			color: darken($white-cat, 70%);
		}

		.warm & {
			color: darken($pink-future, 70%);
		}

		div {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);

			&:first-child {
				padding-top: rem-calc(30);
			}

			@include breakpoint(medium) {
				padding-top: rem-calc(30);
			}
		}
	}
	strong {
		font-size: calc-rem(18);
		font-weight: 700;
	}

	@include breakpoint(medium){
		li {
			div {
				&:first-child {
					text-align: right;
				}
			}
		}
	}
	@include breakpoint(medium){
		max-width: calc-rem(900);
		margin-left: auto;
		margin-right: auto;
	}
}

.next-list {
	@include reset-ul();
	max-width: calc-rem(500);
	margin: calc-rem(12) auto;
	text-align: left;
	counter-reset: li-counter;
	li {
		position: relative;
		padding-left: calc-rem(30);
		&:before{
			counter-increment: li-counter;
			content: counter(li-counter) ".";
			position: absolute;
			top: 0;
			left: 0;
			padding: calc-rem(3);
			font-size: calc-rem(24);
			line-height: 1;
			font-weight: 700;
		}
	}
	p:first-child{
		margin-bottom: 0;
	}
	strong {
		font-size: calc-rem(20);
	}
}
