.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.counter {
  display: none;
  height: calc-rem(50);
  margin-bottom: calc-rem(24);

  p {
    font-size: calc-rem(22);
    // font-weight: 400;
  }
  @include breakpoint(medium){
    display: block;
    visibility: hidden;
    height: auto;

    p {
      margin-top: calc-rem(20);
      font-size: calc-rem(22);
      min-height: calc-rem(70);
    }
    .typed-cursor {
      font-size: calc-rem(22)
    }
  }
  @include breakpoint(large){
    p {
      margin-top: calc-rem(20);
      font-size: calc-rem(28);
      min-height: calc-rem(90);
    }
    .typed-cursor {
      font-size: calc-rem(28)
    }
  }
}
