{% extends "layouts/Page.twig" %}
{% import 'macros/form.twig' as f %}

{% block content %}
    <main>
        {% if not c.SupporterForm.IsSubmitted %}
            {% include 'components/widgets/Supporters.twig' with c.Supporters %}
            {% include 'components/VipSupporters.twig' with c.VipSupporters %}
        {% endif %}

        {% if c.SupporterForm.IsSubmitted and c.SupporterForm.IsSuccess %}
            {% include 'components/SupportFormThankYou.twig' with { Form: c.SupporterForm }  %}
        {% else %}
            {% include 'components/SupportForm.twig' with { Form: c.SupporterForm } %}
        {% endif %}
    </main>
{% endblock %}